
<div class="container" id="container" >
  <div class="row" id="row">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h1>My conversation with <%= params[:email_to] %></h1>

      <%= render 'form' %>

      <div id="chat">
        <% if !@conversation.nil?  %>
          <%  @conversation.each do |message| %>
            <%= render 'messages/show', message: message %>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>
